<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Retell</a>
    </div>
</div>

@rendermode InteractiveServer

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (perm1.Equals("1"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="llantas">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Llantas
                </NavLink>
            </div>
        }
        @if (perm2.Equals("1"))
        {
            <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
        }
        @if (perm3.Equals("1"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
        }
    </nav>
</div>
