<Modal Title="Agregar Material" @ref="modal" IsVerticallyCentered=true ShowCloseButton=false>
    <BodyTemplate>
        <h1>Material</h1>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary">Guardar</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalClick">Cancelar</Button>
    </FooterTemplate>
</Modal>

@code {
    private Modal modal;
    public async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    public async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }
}
